<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello CalidMedia!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="<%= static_path(@conn, "/css/mediaelementplayer.css") %>" rel="stylesheet">

  </head>

  <body>
    <div class="ui fixed inverted main menu">
      <div class="ui container">
        <div class="item">
            Calid Media Server
        </div>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <form method="GET" action="">
                <input name="search" type="text" placeholder="Search..." value="<%= @keyword %>">
                <button type="submit" class="ui icon button"><i class="search link icon"></i></button>
              </form>
            </div>
          </div>
          <a href="/" class="ui item">
            All
          </a>
          <a href="<%= page_path(@conn, :index, show: "audio") %>" class="ui item">
            Audio
          </a>
          <a href="<%= page_path(@conn, :index, show: "video") %>" class="ui item">
            Video
          </a>
        </div>
      </div>
    </div>

    <div class="ui container main-container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/mediaelement-and-player.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
