<h1 class="ui dividing header">Play Calid Media Server</h1>

<video id="videoShow" width="100%" height="100%" controls="controls" preload="auto" src="/media/<%= @filename %>" type="video/<%= @ext %>">
  Your browser does not support the video tag. Just replace it.
</video>
